@font-face { font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic.eot');
    src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff');
}

body {
    margin: 0;
    background : #E2E2E2;
    font-family: 'NanumGothic', 'serif';
    font-size: 16px;
  }

div.menu {

    background: black;

    width: 100%;
    height: 5vh;

    display: table;
    position: relative;
}

nav {
    width: 100%;
    display: table-cell;
    vertical-align: middle;

    margin: 0;
    padding-right: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

nav li {
    clear: both;
    font-family: 'Arial',Arial,sans-serif;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    color: white;
    white-space: nowrap;
}

nav li a:link, a:active, a:visited {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

div.header {
    width: 70%;
    height: 15vh; 
    margin: auto;
}

div.container{
    width: 70%;
    height: 80vh;
    margin: auto;
}

div.container #sub_container{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 9%;
}

#paper_container, #code_container {
    padding-bottom: 5%;
}

div.container li a{
    text-decoration: none;
    font-size:large;
    color : black;
}

div.container li a:hover{
    text-decoration: none;
    color: rgb(101, 101, 101);
}

#image_container {
    height: 33vh;
}

#image_container img{
    height: 100%;
}

ol #mark{
    color:gray;
}

li #image{
    height: 100%;
}

#form ol li {
    margin-top: 7%;
}

ol#btn_input{
    text-align: center;
}

ol#btn_input li#btn {
    width: 100%;
    list-style:none;
    display: inline-block;
}

ol#btn_input li#btn #btn_inference{
    margin: 10px 20px 10px 0;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: white;

    background-color: rgb(58, 57, 57);
    box-shadow: 0px 5px 0px 0px #000000;
    border-radius: 5px;
    transition: all 0.2s ;
    font-size: 1.3em;
  
}

ol#btn_input li#btn #btn_inference:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #000000;
    color: #E2E2E2;
  }

div#inference_progress {
    width: 50%;
    margin: auto;
    padding-top: 15vh;
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#progress_mel_container, #progress_container, #progress_caution_message {
    margin-top: 5%;
}

#percent{
    font-size: 1.2em;
    text-align: right;
}

#progress {
    width: 100%;
    background-color: rgb(242, 242, 242);   
    border-radius: 5px; 
    overflow: hidden;
}

#progress_bar {
    width: 0%;
    height: 5vh;
    background-color: green;
}

#infinite_progress {
    width: 100%;
    background-color: rgb(242, 242, 242);    
    overflow: hidden;
    border-radius: 5px;
}

#infinite_progressbar {
    width: 30%;
    height: 5vh;
    left: -200%;
    background-color: green;  
    animation: loading 2s ease-in 0.5s infinite;
  }
  
@keyframes loading {
    0% {
        transform:translateX(-200%)
    }
    to {
        transform:translateX(400%)
    }
}

#progress_caution_message {
    width: 100%;
    height: 10%;
    font-size: 1.3em;
}

#progress_caution_message img {
    width: 1.3em;
    vertical-align: middle;
}

textarea {
    padding: auto;
    width: 95%; 
    height: 13em; 
    font-size: 16px;
}

#home_visual_container{
    width: 100%;
    text-align: center;   
}

#home_visual_container table img{
    width: 90%;
}

#home_text_container {
    padding: 5%;
    font-size: 1.3em;
}

#text_kor, #text_en{
    margin-top: 5%;
}

.header h2 {
    text-align: center;
}

img {
    border-radius: 5px;
}


h1{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;

    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}