body {
    margin: 0;
  }
  
div.menu {

    background: black;

    width: 100%;
    height: 50px;
    top: 0;

    display: table;
    position: relative;

    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: table-cell;
    vertical-align: middle;

    margin: 0;
    padding-right: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;

    display: block;
}

nav li {
    clear: both;
    font-family: 'Arial',Arial,sans-serif;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    color: white;
    white-space: nowrap;
}

nav li a:link, a:active, a:visited {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

div.header {
    margin: 0;

    padding-top: 90px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;

    margin: 0;

    max-width: 609px;
    width: 100%
}

div.container {

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;

    align-items: center; 
    position: relative;

    max-width: 609px;
    width: 100%
}

#image_container {
    height: 33vh;
}

#form ol{
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

#btn {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    margin-top: 90px;
}

div#btn input{
   font-size: 18px;
}

#progress_container {
    visibility: hidden;
}

#progress {
    width: 100%;
    background-color: rgb(242, 242, 242);    
    overflow: hidden;
}

#progress_bar {
    width: 0%;
    height: 30px;
    background-color: green;
}

#infinite_progress {
    width: 100%;
    background-color: rgb(242, 242, 242);    
    overflow: hidden;
}

#infinite_progressbar {
    width: 30%;
    height: 30px;
    left: -100%;
    background-color: green;
    animation: loading 2s ease-in 0.5s infinite;
  }
  
@keyframes loading {
    0% {
        transform:translateX(-100%)
    }
    to {
        transform:translateX(400%)
    }
}

#percent {
    position: relative;
    text-align: right;
}

#progress_mel_container {
    visibility: hidden;
}

#progress_caution_message {
    visibility: hidden;
    color: orange;
}


h1 {
    font-size: 3em;
    font-weight: bold;
}

textarea {
    width: 100vmin; 
    height: 10em; 
}