<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <title>Face2Voice</title>

        <script>
            //파일에서 불러온 사진 보여줌
            function setThumbnail(event) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    if (document.querySelector("div#image_container").childElementCount > 0) {
                        document.querySelector("div#image_container").removeChild(document.querySelector("div#image_container").firstChild);
                    }
                    var img = document.createElement("img");
                    img.setAttribute("src", event.target.result);
                    img.style.height = "100%";
                    document.querySelector("div#image_container").appendChild(img);
                };
    
                reader.readAsDataURL(event.target.files[0]);
            }            
        </script>  

        <script>
            // 입력 데이터 -사진, 문장 모두 입력되었는지 확인 
            // 모두 입력된 경우 return true
            // 하나라도 입력이 안된 경우 return false
            function isValidInput() {
                let img = document.getElementById("image").value; 
                let txt = document.getElementById("text").value; 

                if (img != "" && txt != "") {
                    return true
                }

                return false
            }

            function showProgress() {

                if (isValidInput()) {

                    //progress bar와 progress 메시지만 보이도록 
                    //입력 사진, 문장 보이지 않게 설정
                    document.getElementById("nav").style.visibility = 'hidden';
                    document.getElementById("form").style.display ='none';
                    document.getElementById("progress_mel_container").style.visibility = 'visible';  
                    document.getElementById("progress_container").style.visibility ='visible';
                    document.getElementById("progress_caution_message").style.visibility = 'visible';

                    // 일정 간격마다 내장 메소드를 실행
                    // progress bar 길이 update함으로써
                    // 음성 합성 경과를 보여줌
                    setInterval(function(){$.ajax({
                        url: '/progress',
                        type: 'POST',
                        success: function(response) {
                            console.log(response);

                            progressed = response['progressed'];
                            total = response['total'];

                            if (progressed != 0 && total != 0) {
                                $('#progress_status').text("Mel Spectrogram Generation Completed!");
                                document.getElementById("infinite_progress").style.backgroundColor = "green";
                                document.getElementById("infinite_progressbar").style.visibility ='none';
                                document.getElementById("progress_container").style.visibility ='visible';
                                $('#progress_bar').width((progressed / total) * 100 + "%");  
                                $('#percent').html(((progressed / total) * 100).toFixed(2) + "%")
                            }
                        }, 
                        error: function(error) {
                            console.log(error);
                        }
                    })}, 100);                    
                }
            }            
        </script>
    </head>
       
    <body>
        <div class="menu">
            <nav id="nav">
                <ul>
                    <li><a href="{{ url_for('home')}}"> HOME</a></li>
                    <li><a href="{{ url_for('face2voice')}}"> TRY FACE2VOICE</a></li>
                    <li><a href="{{ url_for('references')}}"> REFERENCES</a></li>
                </ul>
            </nav>
        </div>

        <div class="header">
            <!-- <h1>Face2Voice</h1> -->
        </div>

        <div class="container">
            <div>
                <form method="post" id="form" action="/face2voice_result" enctype="multipart/form-data">
                    <ol>
                        <!-- 입력 사진 선택 -->
                        <li>
                            <h4> Load a face image to embed </h4>
                            <p>
                                <input class="form-control" type="file" name="imagefile" id="image" onchange="setThumbnail(event)" required  accept=".jpeg, .jpg, .png">
                            </p>
                            <div id="image_container"></div>
                        </li>

                        <!-- 입력 문장 작성 -->
                        <li>
                            <h4> Write down the text you want to synthesize </h4>
                            <p>
                                <textarea name="inputtext" id="text" required >Welcome to the toolbox! Can you guess what my voice is like?</textarea>
                            </p>
                        </li> 
                    </ol>

                    <!-- 음성 합성 버튼 -->
                    <div id="btn">
                        <input class="btn-inference" type="submit" value="Speech Synthesis" onclick="showProgress()" >
                    </div>       
                </form>
            </div>

            <!-- 음성 합성 경과를 보여주는 메시지와 progress bar-->
            <div id="progress_mel_container">
                <h3 id="progress_status">Generating Melspectrograms...</h3>
                <div id="infinite_progress">
                    <div id="infinite_progressbar"></div>
                </div>
            </div>
            <div id="progress_container">
                <h3>Synthesizing voice...</h3>
                <div id="progress">       
                    <div id="progress_bar"></div>
                </div>
                <div id="percent"></div>
            </div>
            <div id="progress_caution_message">
                CAUTION: Do not press the Refresh or Back button
            </div>
        </div>
    </body>
</html>
