<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/cootstrap.min.css"/>
        <script src="https://ajax.google.com/ajax.libs.jquery.min.js"></script>
        <title>Face2Voice info page</title>
    </head>

    <body>
        <div id="header" align="center">
            <h3>2022 성신여자대학교 소프트웨어 경진대회</h1>
            <h2>Face2Voice</h2>
            <p> 박형희   김가은  배민하</p>
            </div>
        <div id="main">
            <form class="p-3 text-center" method="post" action="/main">
                <p>
                    <input class="btn btn-info" type="submit" value="Let's try" >
                </p>      
            </form>
        </div>
        <div id="footer">
            연락처
        </div>
    </body>
</html>